.wrapper {
    width: 98%;
    margin-left: 1%;
    height: 350px;
    margin-top: 10px;
    background: var(--background-cardlike);
}
.wrapper:hover {
    box-shadow: var(--background-cardlike-hover);
    border-color: var(--background-cardlike-border);
    cursor: pointer;
}
.headerCard {
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
}
.cardItem {
    width: 80%;
    margin-left: 10%;
    height: 100%;
}
.cardIcon {
    font-size: 40px;
}
.name , .description , .cardIcon  {
    color: var(--text-black)
}
.name:hover {
    opacity: 0.7;
}
.description {
    font-size: 12px;
    margin-top: 20px;
}
.description:hover {
    color: var(--primary);
}